body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F7F3E3;
}

.heading {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #2B2118;
}

.body-text {
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}



@media only screen and (max-width: 992px) {

  .heading {
    font-size: 50px;
  }
  
}





/*Nav*/

.nav-wrapper {
  background-color: #6F1A07;
  
}

.dropdown-content {
  background-color: #6F1A07;
}

.nav-item {
padding: 5px;
margin-right: 15px;
font-family: "Gafata", sans-serif;
}

.brand-logo {
  height: 48px;
  margin: 5px;
}

.contact {
  margin-right: 40px;
  font-size: 30px;
  color:#F7F3E3;
}


@media only screen and (max-width: 992px) {
  
  .sidenav {
    display: block;
  }

  .contact {
    font-size: 18px;
  }
}


/*Home page*/

.background-image {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:50%;
  background-image: url('/home.jpeg');
  background-size: cover;
  z-index: -1;
}

.content {
  padding-top: 140px; 
  margin: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #F7F3E3);
}

.home-body {
  font-size: 28px;
  color: #2B2118;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.container.book .btn {
  background-color: #6F1A07;
  color: #F7F3E3;
  border-radius:20px;
}

@media only screen and (max-width: 992px) {
.content {
  margin: 10px
}

 .home-body {
  font-size: 20px;
 }
  
}


/*About page*/

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-img {
  height: auto;
  width: 400px;
  border: 2px solid black;
  border-radius: 75px;
}

.about-body {
  font-size: 25px;
}

.location-header {
  text-align: center;
  font-size: 50px;
}


.map-img {
  height: auto;
 width: 350px;

}

.address {
  font-size: 25px;
}

/* image gallery */

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 5px;
}

/*service*/

.service-body {
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .service-body {
    font-size: 17px;
  }
}


/*FAQ*/

h5.collapsible-header {
  background-color: #AF9164;
}

.faq-list {
  border-radius: 10px;
  color:#F7F3E3;
  background-color: #AF9164;
}

@media only screen and (max-width: 992px) {
  .collapsible-header {
    font-size: 18px;
  }
}

/*Reviews*/

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.review {
  font-size: 18px;
  border: 3px solid #2B2118;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;

}

.google-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}







