

.heading {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.body-text {
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/*Nav*/

.nav-item {
padding: 5px;
font-size: 20px;
margin-right: 15px;
font-family: "Gafata", sans-serif;
}

.brand-logo {
  height: 48px;
  margin: 5px;
}

.contact {
  margin-right: 40px;
  font-size: 30px;
}


/*Home page*/

.home-body {
  font-size: 30px;
  margin-top: 50px;
}



/*About page*/

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-img {
  height: auto;
  width: 400px;
  border: 2px solid black;
  border-radius: 75px;
}

.about-body {
  font-size: 25px;
}

.location-header {
  text-align: center;
  font-size: 50px;
}


.map-img {
  height: auto;
  width: 500px;

}

.address {
  font-size: 25px;
}








